#heading1 {
    text-align: center;
}
.paragraph{
    font-family: "Franklin Gothic Demi";
    font-size: 18px;
}
#mydivision {
    background-color: darksalmon;
    margin: 50px;
    padding: 30px;
}
#mydivision h1 {
    color: darkslateblue;
    text-align: center;
}
#test {
    display: flex;
    background-color: lightgreen;
    margin: 50px;
    padding: 30px;
    color: yellow;
}
#test img {
    width: 300px;
    height: 300px;
    margin-right: 30px;
    border-radius: 200px;
}

#main {
    display: flex;
    background-color: dimgrey;
    margin: 20px;
    padding: 20px;
}
#advertisement {
    background-color: red;
    color: white;
    margin-right: 20px;
    padding: 30px;
    box-shadow: 10px 8px 8px 4px blue;
}

#accounting {
    background-color: blue;
    color: white;
    margin-right: 20px;
    padding: 30px;
    box-shadow: 10px 8px 8px 4px blue;
}
#payment{
    background-color: yellow;
    color: white;
    margin-right: 20px;
    padding: 30px;
    box-shadow: 10px 8px 8px 4px blue;

}
#advertisement:hover, #accounting:hover,#payment:hover {
    background-color: green;
}
